body {
  padding-top: 60px;
}

.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 1180px;
}

.span15 {
  width: 1180px;
}

table.screamer {
  border-spacing: 4px;
  border-collapse: separate;
}

.screamer td{
  width: 110px;
  height: 200px;
  border: 2px solid black;
  vertical-align: top;
}
