Crate # <%= id%><br>
<table class='cmosrate-crate'>
  <tr>
    <% for (var i=0;i<16;i++) { %>
    <td>
      <table class='cmosrate-fec'>
        <% for (var j=0;j<32;j++) { %>
        <tr>
          <td channel='<%= i*32+j %>'>
            <div>
              <% if (rates[i*32+j] > 1000000) { %>
              <% (parseInt(rates[i*32+j]/10000))/100 %> MHz
              <% } else { %>
              <%= rates[i*32+j] %>
              <% } %>
            </div>
          </td>
        </tr>
        <% } %>
      </table>
    </td>
    <% } %>
  </tr>
</table>
