<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">Detector Monitoring</a>
      <ul class="nav" role="navigation">
        <li class="active"><a href="#">Overview</a></li>
        <li class="dropdown">
        <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Cmos<b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
          <li><a tabindex="-1" href="#cmos">Screamers</a></li>
          <li class="divider"></li>
          <li><a tabindex="-1" href="#cmos/0">Crate 0</a></li>
          <li><a tabindex="-1" href="#cmos/1">Crate 1</a></li>
          <li><a tabindex="-1" href="#cmos/2">Crate 2</a></li>
          <li><a tabindex="-1" href="#cmos/3">Crate 3</a></li>
          <li><a tabindex="-1" href="#cmos/4">Crate 4</a></li>
          <li><a tabindex="-1" href="#cmos/5">Crate 5</a></li>
          <li><a tabindex="-1" href="#cmos/6">Crate 6</a></li>
          <li><a tabindex="-1" href="#cmos/7">Crate 7</a></li>
          <li><a tabindex="-1" href="#cmos/8">Crate 8</a></li>
          <li><a tabindex="-1" href="#cmos/9">Crate 9</a></li>
          <li><a tabindex="-1" href="#cmos/10">Crate 10</a></li>
          <li><a tabindex="-1" href="#cmos/11">Crate 11</a></li>
          <li><a tabindex="-1" href="#cmos/12">Crate 12</a></li>
          <li><a tabindex="-1" href="#cmos/13">Crate 13</a></li>
          <li><a tabindex="-1" href="#cmos/14">Crate 14</a></li>
          <li><a tabindex="-1" href="#cmos/15">Crate 15</a></li>
          <li><a tabindex="-1" href="#cmos/16">Crate 16</a></li>
          <li><a tabindex="-1" href="#cmos/17">Crate 17</a></li>
          <li><a tabindex="-1" href="#cmos/18">Crate 18</a></li>
          <li><a tabindex="-1" href="#cmos/19">Crate 19</a></li>
        </ul>
        </li>
        <li><a href="websnoed.html">Event Display</a></li>
      </ul>
    </div>
  </div>
</div>

